#tempCalc {
    font-family: Arial, sans-serif;
    margin: 200px auto;
    max-width: 500px;
    background: #b74c4c;
    height: 100%;
    padding: 55px 50px 45px 55px;
    border-radius: 10px;
  
    input[type="number"], select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
  
    input[type="number"] {
      margin-top: 25px;
    }
  
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        background-color: #45a049;
      }
    }
  
    #result {
      font-size: 24px;
      font-weight: bold;
      margin-top: 10px;
      display: block;
    }
  
    @media screen and (max-width: 600px) {
      input[type="submit"], #result {
        width: 100%;
      }
    }
  }
  